/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
.btn {
  padding: 7px;
  width: 120px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 10px;
  
  border: none;
}